# Copia questo file in functions/.env e sostituisci i valori.
# Non committare functions/.env.
STRAVA_CLIENT_ID=273004
STRAVA_CLIENT_SECRET=1ea04b5207e4120343e927c1752c5ad050c78ca3
STRAVA_REDIRECT_URI=https://europe-west1-run-map-2.cloudfunctions.net/stravaCallback
RUNMAP_APP_URL=https://gimbo08.github.io/Run-Map-2.0/
